<div class="row">
    <div class="col-12 col-sm-12">
        <button class="btn btn-success me-2" (click)="onNewBook()">Thêm sách mới</button>
        <button class="btn btn-primary" (click)="onRefresh()">Làm mới danh sách</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12 col-sm-12">
        <div class="rounded-3 row">
            <app-book-item 
                class="col-6"
                *ngFor="let booksItem of booksService.books | paginate: { id: 'listing-pagination',
                itemsPerPage: 10,
                currentPage: page,
                totalItems: totalRecords }; let i = index" 
                [book]="booksItem"
                [index] = "booksItem._id">
            </app-book-item>
            <div class="d-flex justify-content-center">
                <pagination-controls id= "listing-pagination" max-size="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>
