.product-description {
    font-size: 15pt;
    text-align: justify;
}

.product-name {
    text-transform: uppercase;
}

.product-label {
    color: black;
    font-size: 16pt;
    text-transform: initial;
}