<div class="row justify-content-center">
    <div class="col-sm-4">
        <div class="row">
            <div class="col-12  d-flex justify-content-center">
                <h2 class="align-center">Sign in</h2>
            </div>
            <div class="col-12">
                <form #signinForm="ngForm" (ngSubmit)="signin(signinForm)">
                    <div class="row g-3">
                        <div class="col-12">
                            <input class="form-control" type="email" name="email" #email="ngModel" [(ngModel)]="usersService.selectedUser.email"  placeholder="Your Email"/>
                        </div>
                        <div class="col-12">
                            <input class="form-control" type="password" name="password" #password="ngModel" [(ngModel)]="usersService.selectedUser.password" placeholder="Password"/>
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="remember-me" id="remember-me"/>
                                <label class="form-check-label" for="remember-me">
                                    Remember me
                                </label>
                            </div>
                        </div>
                        <div class="col-12">
                            <input class="btn btn-primary" type="submit" name="signin" id="signin" value="Log in"/>
                            <a class="float-end" routerLink="/register">Create an account</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    